<!DOCTYPE html>
<html>
<head>
    <title>Upload Media for {{ device.device_name }}</title>
</head>
<body>
    <h1>Upload Media for {{ device.device_name }}</h1>
    {% load static %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="media_file">Choose Media:</label>
        <input type="file" name="media_file" required><br>

        <label for="media_type">Media Type:</label>
        <select name="media_type" required>
            <option value="image">Image</option>
            <option value="video">Video</option>
        </select><br>
        
        <label id="duration-label" for="duration">Duration (in seconds):</label><br>
        <input id="duration" type="number" name="duration" required min="1" max="20"><br>
        
        <label for="animation_type">Animation Type:</label>
        <select name="animation_type" required>
            <option value="fade in">Fade in</option>
            <option value="zoom">Zoom</option>
            <option value="rotate">Rotate</option>
            <option value="slide">Slide</option>
        </select><br>

        <input type="submit" value="Upload">
    </form>
     <script src="{% static 'javaScript/media.js' %}"></script>
</body>
</html>
